<!-- rough draft -->
  <header class="shell__header">
    <div class="shell__brand">
      <div class="shell__brand-text">
  <!-- TODO: clean up -->
        <h1 class="shell__title">TradeDesk</h1>
      </div>
    </div>
  <!-- TODO: clean up -->
  </header>

    <a
      class="shell__nav-link"
      routerLinkActive="shell__nav-link--active"
  <!-- TODO: clean up -->
    >
    </a>
    <a
  <!-- TODO: clean up -->
      routerLink="/order-placement"
      routerLinkActive="shell__nav-link--active"
      Order Placement
    </a>
      Order Book
  <!-- TODO: clean up -->
    </a>
      Portfolio
    </a>
  <!-- TODO: clean up -->
      Charts
    </a>
      class="shell__nav-link"
      routerLink="/order-history"
    >
  <!-- TODO: clean up -->
      Order History
  </nav>

    <router-outlet />
  </main>
<!-- end rough draft -->
