<tr class="watchlist-row">
  <td class="watchlist-row__cell watchlist-row__cell--symbol">{{ displaySymbol() }}</td>
  <td
    class="watchlist-row__cell watchlist-row__cell--price watchlist-row__cell--numeric"
    [priceFlash]="tick()?.price ?? null"
  >
    {{ formatPrice(tick()?.price) }}
  </td>
  <td
    class="watchlist-row__cell watchlist-row__cell--change watchlist-row__cell--numeric"
    [class.watchlist-row__cell--up]="(tick()?.changePct ?? 0) >= 0"
    [class.watchlist-row__cell--down]="(tick()?.changePct ?? 0) < 0"
  >
    {{ formatChange(tick()?.changePct) }}
  </td>
  <td class="watchlist-row__cell watchlist-row__cell--volume watchlist-row__cell--numeric">
    {{ formatVolume(tick()?.volume) }}
  </td>
</tr>
