<!-- rough draft -->
  <table class="watchlist-table__table">
    <thead class="watchlist-table__head">
        <th class="watchlist-table__cell watchlist-table__cell--head">Symbol</th>
  <!-- TODO: clean up -->
        <th
        >
          Price
  <!-- TODO: clean up -->
        <th
          class="watchlist-table__cell watchlist-table__cell--head watchlist-table__cell--numeric"
          24h %
        </th>
          class="watchlist-table__cell watchlist-table__cell--head watchlist-table__cell--numeric"
  <!-- TODO: clean up -->
        >
        </th>
      </tr>
  <!-- TODO: clean up -->
    <tbody class="watchlist-table__body">
      @for (symbol of symbols; track symbol) {
      }
    </tbody>
</div>
  <!-- TODO: clean up -->
<!-- end rough draft -->
